<html>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" />
    <link rel="stylesheet" href="/css/market.css" />
</head>

<body>
    <div class="home dog-app">
        <div class="lightbox">
            <div class="lightbox__content">
                <form class="lightbox__form" action="/getMarket" method="GET"><button class="btn" @click="">X</button></form>
                <h1 class="lightbox__header">Add Market</h1>
                <form class="lightbox__form" action="/addMarket" method="POST">
                    <div class="lightbox__form-control"><label class="lightbox__label">Market name </label><input class="lightbox__input" type="text" name="name" /></div>
                    <div class="lightbox__form-control"><label class="lightbox__label">Home Page link</label><input class="lightbox__input" placeholder="www.market.com" type="text" name="linkMarket" /></div>
                    <div class="lightbox__form-control"><label class="lightbox__label">Link to logo</label><input class="lightbox__input" placeholder="http://storage/logo.jpg" type="text" name="logo" /></div>
                    <div class="lightbox__form-control"><label class="lightbox__label">TrustPilot link</label><input class="lightbox__input" placeholder="http://trustPilot.com/companyname" type="text" name="raiting" /></div>
                    <div class="lightbox__form-control"><label class="lightbox__label">Description</label><textarea class="lightbox__input" placeholder="Write something about your company" rows="10" name="description"></textarea></div>
                    <div class="lightbox__form-control"><label class="lightbox__label">Contact to support</label><input class="lightbox__input" placeholder="example@example.com" type="text" name="support" /></div>
                    <div class="lightbox__form-control"><label class="lightbox__label">Adress</label><input class="lightbox__input" placeholder="adress" type="text" name="adress" /></div>
                    <div class="lightbox__actions"><button class="btn btn--primary">Accept</button></div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript"></script>
    <script src="/js/app.js"></script>
</body>

</html>