html
    HEAD
        LINK(REF="STYLESHEET" HREF="HTTPS://FONTS.GOOGLEAPIS.COM/CSS?family=Montserrat:300,400,500,700")
        link(ref="stylesheet" href="css/main.css")
    body
        .wrapper
            h1
                | BE a hero. Adopt a dog.