html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="/css/main.css")
    body
        .home.dog-app(data-lightbox=showLightbox)
            header.app-header
                nav.app-nav
                    ul.app-nav__list
                        li.app-nav__list-item
                            a.app-nav__link(href="/productBase") product base
                        li.app-nav__list-item
                            a.app-nav__link.app-nav__link--is-active(href="/upload")  upload file xml
                        li.app-nav__list-item
                            a.app-nav__link(href="/getMarket")  markets
                        li.app-nav__list-item
                            a.app-nav__link(href="/news")  news
                        li.app-nav__list-item
                            a.app-nav__link(href="/mems")  mems
                        li.app-nav__list-item
                            a.app-nav__link(href="#")  contact
            .wrapper
                section.slogan
                    h1.slogan__header
                        | Upload XML file
                    p.slogan__text
                        br
                        | schamat pliku xml dla naszego serwisu dostepny jest pod linkiem ;)
                    .actions
                        button.btn.btn--primary(@click="formLightbox = true") upload xml files

                    p.slogan__text
                        | Update products from G2A.COm
                    form.actions(action="/updateMarket" method="GET" )
                        button.btn.btn--primary Upload from G2A
                    
                footer.app-footer
            .lightbox(v-show="formLightbox == true" style="display: none;")
                .lightbox__content
                    h2.lightbox__header Upload your xml files
                    form.lightbox__form(action="/upload" method="POST" enctype="multipart/form-data")
                        .lightbox__form-control
                            label.lightbox__label Files to Upload!
                            input.lightbox__input(type="file" name="sampleFile")
                            
                        .lightbox__actions
                            button.btn.btn--primary Accept

            if (formMessage && formMessage.length)
                .lightbox(v-show="showFeedback")
                    .lightbox__content
                        h2.lightbox__header #{ formMessage }
                        .lightbox__actions.lightbox__actions--centered
                            button.btn.btn--primary(@click="closeFeedbackLightbox") Close

        script(src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript")
        script(src="/js/app.js")
